.circle {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  box-sizing: content-box;



  width: 12px;
  height: 12px;
  //width: 0.86em;
  //height: 0.86em;
  
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 3px;
  border: 1px solid #1F204140;

  //padding: 0.2em;
  //border: 0.1em solid #1F204140;
  border-radius: 50%;
 
  background-clip: content-box;
  
  
}