
$left: rgb(212, 147, 172);
$right: rgb(58, 29, 38);

.ex-color-pallet {
  
  .pallet {
    display: flex;
    flex-wrap: wrap;
  
    &__card {

    }
    &__body {
      height: 200px;
      width: 100px;

      &_r {
        //background-color: #ff0000;
        background-color: $left;
      }
      &_g {
        background-color: #00ff00;
      }
      &_b {
        background-color: $right;
      }
    }

    &__grad {
      width: 300px;
      height: 100px;
      background: linear-gradient(to right, $left, $right);
    }
  }
}