extends ./layout

block styles 
  link(href=require('../styles/p-canvas-page.scss') rel='stylesheet')


block content
  .canvas-page
    .container 
      .canvas-page__wrap
        .canvas-page__content
          h1 Hello
          canvas.my-canvas(width="40" height="40") hi
          .control-panel
            button.btn-previous-step(disabled) previous step
            button.btn-play-pause play/pause
            button.btn-next-step next step
            button.btn-reset(disabled) reset
            br
            input.range-delay(type="range", min="0", max="2000", step="100")





block append scripts
  script(src=require('../blocks/my-canvas/my-canvas.js'))
  