extends ./layout

block styles 
  link(href=require('../styles/p-canvas-page.scss') rel='stylesheet')


block content
  .canvas-page
    .container 
      .canvas-page__wrap
        .canvas-page__content
          h1 Hello
          canvas.my-canvas(width="400" height="400") hi
          .control-panel
            button.btn-previous-step previous step
            button.btn-play-pause play/pause
            button.btn-next-step next step
            button.btn-reset reset





block append scripts
  script(src=require('../blocks/my-canvas/my-canvas.js'))
  