extends ./layout

block styles 
  link(href=require('../styles/p-experiment-with-color.scss') rel='stylesheet')


block content
  .experiment-with-color
    .container 
      .experiment-with-color__wrap
        .experiment-with-color__content
          h1 Hello
          
          .ex-color-pallet 
            .pallet
              .pallet__card 
                .pallet__title 
                .pallet__body.pallet__body_r
              .pallet__card 
                .pallet__title 
                .pallet__body.pallet__body_g
              .pallet__card 
                .pallet__title 
                .pallet__body.pallet__body_b
              .pallet__grad






block append scripts
  script(src=require('../blocks/ex-color-pallet/ex-color-pallet.js'))
  