extends ./layout

block append variables
  -
    title = "Fields and buttons";

block styles 
  link(href=require('../styles/p-fields-and-buttons.scss') rel='stylesheet')


block content
  .fields-and-buttons
    .container
      .fields-and-buttons__wrap

        .fields-and-buttons__row
          .fields-and-buttons__column        

            .fields-and-buttons__text-field
              +text-field({label: "text field", sublabel: "Default", inputValue: "Email", theme: "default"})
              
            .fields-and-buttons__text-field
              +text-field({label: "text field", sublabel: "Hover / Focus", inputValue: "This is pretty awesome", theme: "hover/focus"})

            .fields-and-buttons__masked-text-field
              +masked-text-field({label: "text field", sublabel: "Default", inputValue: "ДД.ММ.ГГГГ", theme: "default"})
               
            input(type='date')
            input.hi

          .fields-and-buttons__column
            p b
          .fields-and-buttons__column
            p c
        .fields-and-buttons__row
          .fields-and-buttons__column
          .fields-and-buttons__column
          .fields-and-buttons__column
        .fields-and-buttons__row
          .fields-and-buttons__column
          .fields-and-buttons__column
          .fields-and-buttons__column
        .fields-and-buttons__row 
          .fields-and-buttons__column
          .fields-and-buttons__column
          
          


      



block append scripts
  //script(src=require('../js/app.js'))
  script(src=require('../js/fields-and-buttons.js'))