extends ./layout

block append variables
  -
    title = "Main page";


block content
  a(href="j-query.html") j-query.pug
  br
  a(href="canvas-page.html") canvas-page.pug
  br
  a(href="cellular-automaton.html") cellular-automaton.pug
  br
  a(href="experiment-with-color.html") experiment-with-color.pug
  br
  p zzz


block append scripts
  //script(src=require('../js/app.js'))