extends ./layout

block styles 
  link(href=require('../styles/p-j-query.scss') rel='stylesheet')


block content
  .j-query
    .container 
      .j-query__wrap
        .j-query__content
          h1.hi Hello
          p one 
          p two 
          p three
          button click

          input.date


block append scripts
  script(src=require('../js/jquery-3.6.3.js'))
  script(src=require('../js/j-query.js'))