mixin masked-text-field({label, sublabel, inputValue, theme})
  .masked-text-field
    if label != none
      .masked-text-field__h3
        label.h3= label

    if sublabel != none
      .masked-text-field__sublabel
        p.sublabel= sublabel

    if theme == "hover/focus"
      input.masked-text-field__input(type="text" value= inputValue class=["masked-text-field__input_status_hover-focus"])
    else if theme == none || theme == "default"
      input.masked-text-field__input(type="text" value= inputValue)
