&__color {
  height: 70px;
  width: 70px;
  border-radius: 6px;
  margin-right: 40px;

  @import '_color-hex/_color-hex_1F2041BF';
  @import '_color-hex/_color-hex_1F2041FF';
  @import '_color-hex/_color-hex_1F20410D';
  @import '_color-hex/_color-hex_1F204140';
  @import '_color-hex/_color-hex_1F204180';
  @import '_color-hex/_color-hex_6FCF97';
  @import '_color-hex/_color-hex_BC9CFF';
}